a:hover h3{text-decoration:underline;}
h2{margin-bottom:0.25em;}
p{font-size:1.2em;margin:2px 0 2px 0;}
#nav_container{
	padding-top:60px;
}

html,body{height:100%;}
body{font-family:helvetica,arial,freesans,clean,sans-serif;}

#nav {
float:right;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:21px 0 0 2em;
}
#nav li {
float:left;
margin:0 1px 0 0;
padding-left:10px;
}

#searchbar {
background-image:url(../images/green_bar_bg.png);
background-repeat:repeat-x;
height:36px;
padding-top:0;
padding-bottom:20px;
}

#header {
background-image:url(../images/header_bg.png);
background-repeat:repeat-x;
padding-top:0;
}

#footer{
background-color:#033649;
height:120px;
}

p.headline{
font-size:2em;
}
.chunk{
	color:#0E3062;
	font-family:georgia;
	font-size:3em;
	font-weight:normal;	
	width:270px;
	display:block;
	text-align:center;
}
h1.ga{
	color:#0E3062;
	font-family:georgia;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 120px; /* .push must be the same height as .footer */
}

.search_prompt {
color:#548330;
/*float:left;*/
font-size:16px;
font-weight:bold;
/*margin-left:40px;
margin-right:40px;*/
padding-top:5px;
text-shadow:0 1px 0 #E2ECD7;
}

.search_button {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/search_button.png) no-repeat scroll left top;
border:medium none;
height:26px;
margin-top:4px;
vertical-align:top;
width:94px;
}

.map_image{
border:solid 3px #CCCCCC;
}

.search_button:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/search_button.png) no-repeat scroll 0 -36px;
border:medium none;
height:26px;
margin-top:4px;
width:94px;
